<%- include('./partials/_header'); -%>
<main class="mt-4">
    <%- include('./partials/_msg'); -%>
    <div class="mb-4" style="margin-left: 6%; width: 140px;">
        <a href="/articles/new" class="btn btn-success d-flex align-items-center">
            <i class="material-icons mr-2">add</i>    
            Novo artigo
        </a>
    </div>
    <div class="list-data">
        <table class="table">
            <thead>
                <tr class="table-light">
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Corpo</th>
                    <th scope="col">Palavras-Chave</th>
                    <th scope="col">Autor</th>
                    <th scope="col" class="text-center">Data de Publicação</th>
                    <th scope="col" class="text-center">Likes</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>    
            <tbody>
                <% articles.forEach(function(a) { %>
                    <tr>
                        <td class="max-cell"><%= a.id %></td>
                        <td class="max-cell"><%= a.title %></td>
                        <td class="max-cell"><%= a.body %></td>
                        <td class="max-cell"><%= a.keywords %></td>
                        <td class="max-cell"><%= a.author_name %></td>
                        <td class="text-center"><%= a.published_date %></td>
                        <td class="text-center"><%= a.likes %></td>
                        <td class="btn-group">                 
                            <a href="/articles/edit/<%= a.id %>">
                                <button class="btn btn-outline-primary btn-sm">
                                    <i class="material-icons">create</i>
                                </button>
                            </a>
                                <div style="margin: 3px;"></div>
                            <a href="/articles/delete/<%= a.id %>">
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="material-icons">delete</i>    
                                </button>
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<%- include('./partials/_footer'); -%>