<%- include('./partials/_header'); -%>
<%- include('./partials/_msg'); -%>

<main class="container mb-5">
    <div class="card mt-5">
        <div class="text-center">
            <div class="card-header">Artigo</div>
            <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.body %></p>
                <div class="d-flex justify-content-center mb-3">
                    <a href="/like-count/<%= article.id %>" style="margin-right: 5px;">
                        <button type="button" class="btn btn-danger">
                            <div class="d-flex align-items-center">
                                <span class="material-icons" style="margin-right: 7px;">favorite</span>
                                <p class="mb-0"><%= article.likes %></p>
                            </div>
                        </button>
                    </a>
                    <% if(article.featured === 'on') { %>       
                    <a class="btn btn-warning" style="cursor: default; pointer-events: none;">
                        <div class="d-flex align-items-center">
                            <span class="material-icons" style="color: white;">grade</span>
                        </div>
                    </a>
                    <% }; %>
                </div>
            </div>
        </div>
        <div class="text-left" style="margin-left: 13px;">
            <span class="text-body-secondary">Palavras-chave: <%= article.keywords %></span>
        </div>
        <div class="card-footer text-body-secondary text-center">
            Autor(a): <%= article.author_name %>  <br>
            Publicado em: <%= article.published_date %>
        </div>
    </div>
</main>
<%- include('./partials/_footer'); -%>