<%- include('./partials/_header'); -%>

<main class="mt-4">
    <% if(message) { %>       
        <div class="container alert alert-success d-flex justify-content-between align-items-center" style="width: 400px;">
            <%= message.message %>
            <a href="" class="close" data-dismiss="alert">
                <i class="material-icons" style="color: var(--primary);">close</i>
            </a>
        </div>
     <% }; %>
    <div class="mb-3" style="margin-left: 6%; width: 140px;">
        <a href="/cadastro-artigo" class="btn btn-success d-flex align-items-center">
            <i class="material-icons mr-2">add</i>    
            Novo artigo
        </a>
    </div>
    <div class="list-data">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Corpo</th>
                    <th scope="col">Palavras-Chave</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Data de Publicação</th>
                    <th scope="col">Likes</th>
                </tr>
            </thead>    
            <tbody>
                <% articles.forEach(function(a) { %>
                    <tr>
                        <td class="td-wrap"><%= a.id %></td>
                        <td class="td-wrap"><%= a.title %></td>
                        <td class="max-cell"><%= a.body %></td>
                        <td class="td-wrap"><%= a.keywords %></td>
                        <td class="td-wrap"><%= a.author_name %></td>
                        <td><%= a.published_date %></td>
                        <td>
                            <%= a.likes %>
                            <div class="m-5"></div>
                            <div class="btn-group">
                                <a href="/articles/edit/<%= a.id %>">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <i class="material-icons">create</i>
                                    </button>
                                </a>
                                <div style="margin: 3px;"></div>
                                <a href="/articles/delete/<%= a.id %>">
                                    <button class="btn btn-outline-danger btn-sm">
                                        <i class="material-icons">delete</i>    
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<%- include('./partials/_footer'); -%>