<head>
    <title>Editar Artigo</title>
</head>

<%- include('header', { showHeaderContent: true, showSearchArticle: false }); -%>

    <main class="container container-form">
        <h2 class="text-center mb-1">Editar Artigo</h2>
        <form class="row g-3" action="/articles/edit" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="col-md-12">
              <input class="focus-purple" type="hidden" name="id" value="<%= article.id %>" display>
              <label for="title" class="form-label">Título</label>
              <input type="text" class="form-control focus-purple" name="title" value="<%= article.title %>">
            </div>
            <div class="col-md-12">
              <label for="body" class="form-label">Corpo do texto</label>
              <textarea class="form-control focus-purple" style="height: 200px;" name="body"><%= article.body %></textarea>
            </div>
            <div class="col-12">
              <label for="keywords" class="form-label">Palavras-chave</label>
              <input type="text" class="form-control focus-purple" name="keywords" value="<%= article.keywords %>">
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <label for="author_name" class="form-label">Nome do autor</label>
                  <input type="text" class="form-control focus-purple" name="author_name" value="<%= article.author_name %>">              
                </div>
                <div class="col-md-6">
                  <label for="published_date" class="form-label">Data de publicação</label>
                  <input type="text" class="form-control focus-purple" name="published_date" value="<%= article.published_date %>">              
                </div>
              </div>
            </div>
            <div class="text-center btn-cadastrar-artigo">
              <button type="submit" class="btn btn-success" style="width: 150px;">Editar</button>
            </div>
          </form>
    </main>