<%- include('./partials/_header'); -%>

  <% function generateArticleCard(article) { %>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">
              <%= article.title %>
            </h5>
            <p class="card-text"> <%=  article.body.split('.')[0] %>...</p>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              Escrito por <cite title="Source Title"><%= article.author_name %></cite>
            </figcaption>
            <p class="card-text">
              <small class="text-body-tertiary">
                Publicado em <%= article.published_date %>
              </small>
            </p>
            <small class="text-body-tertiary">
              <span class="material-icons" style="margin-right: 2px;">
                favorite
              </span>
              <p style="margin-right: 2px;">
                <%= article.likes %> 
              </p>       
            </small>
            <a href="/articles/detail/<%= article.id %>" class="link-secondary">
              <p style="color: var(--primary);">Saiba mais..</p>
            </a>
        </div>
      </div>
    </div>
  <% } %>

  <% if(user) { %>   
  <div class="d-flex justify-content-center align-items-center mt-5">
    <h2 class="welcome">Olá, <%= user.author_user %>!</h2>
  </div>
  <% }; %>

  <main class="container py-5" id="artigos">
    <%- include('./partials/_msg'); -%>
    <div class="card mb-4">
      <h4 class="card-header text-center mb-4">Destaques</h4>
      <% articles.forEach(function(article) { %>
        <% if(article.featured === 'on') { %>       
            <%= generateArticleCard(article) %>
        <% }; %>
      <% }); %>
    </div>

    <div class="card mb-4">
        <h4 class="card-header text-center mb-4">Os 10 mais curtidos</h4>
      <% mostLikedArticles.forEach(function(article) { %>
        <%= generateArticleCard(article) %>
      <% }); %>
    </div>
    
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 774px;">
      <% articles.forEach(function(article) { %>
        <%= generateArticleCard(article) %>
      <% }); %>
    </div>
  </main>

<%- include('./partials/_footer'); -%>