<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<%- include('header'); -%>


<body>
  <% if(user) { %>   
  <div class="d-flex justify-content-center align-items-center">
    <h2 class="font-text">Olá, <%= user.author_user %>!</h2>
  </div>
  <% }; %>

  <main class="container py-5" id="artigos">
    <%- include('./partials/_msg'); -%>
    <div class="card mb-4">
      <h4 class="card-header text-center mb-4">Destaques</h4>
      <% articles.forEach(function(article) { %>
        <% if(article.kb_featured == true) { %>       
          <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">
                  <%= article.kb_title %>
                </h5>
                <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                <figcaption class="blockquote-footer mb-0 text-body-secondary">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
                <p class="card-text">
                  <small class="text-body-tertiary">
                    <%= article.kb_author_email %>
                  </small><br>
                  <small class="text-body-tertiary">
                    <%= article.kb_published_date %>
                  </small>
                </p>
                  <a href="/like-count/<%= article.kb_id %>">
                    <button type="button" class="btn btn-light">
                      <span class="material-icons">
                        favorite
                      </span>
                    </button>
                  </a>
                  <p>
                    <%= article.kb_liked_count %>
                  </p>
                </div>
            </div>
          </div>
        <% }; %>
      <% }); %>
    </div>

    <div class="card mb-4">
        <h4 class="card-header text-center mb-4">10 Mais curtidos</h4>
      <% mostLikedArticles.forEach(function(article) { %>
          <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">
                  <%= article.kb_title %>
                </h5>
                <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                <figcaption class="blockquote-footer mb-0 text-body-secondary">
                  Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
                <p class="card-text">
                  <small class="text-body-tertiary">
                    <%= article.kb_author_email %>
                  </small><br>
                  <small class="text-body-tertiary">
                    <%= article.kb_published_date %>
                  </small>
                </p>
                  <a href="/like-count/<%= article.kb_id %>">
                    <button type="button" class="btn btn-light">
                      <span class="material-icons">
                        favorite
                      </span>
                    </button>
                  </a>
                  <p>
                    <%= article.kb_liked_count %>
                  </p>
              </div>
            </div>
          </div>
      <% }); %>
    </div>
    
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 774px;">
            <% articles.forEach(function(article) { %>
              <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 33.3317%; top: 370px;">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= article.kb_title %>
                    </h5>
                    <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    <figcaption class="blockquote-footer mb-0 text-body-secondary">
                      Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                    <p class="card-text">
                      <small class="text-body-tertiary">
                        <%= article.kb_author_email %>
                      </small><br>
                      <small class="text-body-tertiary">
                        <%= article.kb_published_date %>
                      </small>
                    </p>
                    <% if(user){ %>
                      <a href="/like-count/<%= article.kb_id %>">
                        <button type="button" class="btn btn-light">
                          <span class="material-icons">
                            favorite
                          </span>
                        </button>
                      </a>
                      <p>
                        <%= article.kb_liked_count %>
                      </p>
                      <% } else{ %>
                        <div class="btn-group" role="group" aria-label="Terceiro grupo">

                          <button type="button" class="btn btn-light disabled">
                            <span class="material-icons">
                              favorite
                            </span>
                            <p>
                              <%= article.kb_liked_count %>
                            </p>
                          </button>

                          <button type="button" class="btn btn-light disabled">
                            <span class="material-icons">
                              star
                            </span>
                          </button>
                        </div>
                        <% } %>

                  </div>
                </div>
              </div>
              <% }); %>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
</html>