<%- include('./partials/_header'); -%>

<main class="mt-4">
    <%- include('./partials/_msg'); -%>
    <div class="mb-4" style="margin-left: 6%; width: 150px;">
        <a href="/users/new" class="btn btn-success d-flex align-items-center">
            <i class="material-icons mr-2">add</i>    
            Novo usuário
        </a>
    </div>
    <div class="list-data ">
        <table class="table">
            <thead>
                <tr class="table-light">
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                <% users.forEach(function(user) { %>       
                    <tr>
                        <td><%= user.author_id %></td>
                        <td><%= user.author_name %></td>
                        <td><%= user.author_user %></td>
                        <td><%= user.author_email %></td>
                        <td><%= user.author_level %></td>
                        <td><%= user.author_status %></td>
                        <td class="btn-group">
                            <a href="/users/edit/<%= user.author_id %>">
                                <button class="btn btn-outline-primary btn-sm">
                                    <i class="material-icons">create</i>
                                </button>
                            </a>
                            <div style="margin: 3px;"></div>
                            <a href="/users/delete/<%= user.author_id %>">
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="material-icons">delete</i>    
                                </button>
                            </a>
                        </td>               
                    </tr> 
                <% }); %>
            </tbody>
        </table>
    </div>
</main>

<%- include('./partials/_footer'); -%>