<%- include('header'); -%>
    <main class="container py-5" id="artigos">
        <% if(typeof success_msg !== 'undefined') { %>       
           <div class="alert alert-success"><%= success_msg %></div>
        <% }; %>
        <h1>Editar Usuário</h1>
        <form action="/users/edit" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-row">
                <input type="hidden" name="author_id" value="<%= user.author_id %>" display>
                <div class="form-group col-md-6">       
                    <label for="inputnome4">Nome</label>
                    <input type="text" class="form-control" id="inputnome4" placeholder="Nome" name="author_name" value="<%= user.author_name %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="author_email" value="<%= user.author_email %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Senha</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" name="author_pwd" value="<%= user.author_pwd %>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEstado">Nível</label>
                    <select id="inputEstado" class="form-control" name="author_level">
                        <option selected>Escolher...</option>
                        <option <% if (user.author_level === 'admin') { %>selected<% } %>>admin</option>
                        <option <% if (user.author_level === 'normal') { %>selected<% } %>>normal</option>
                    </select>
                </div>
            </div>
            <legend class="col-form-label col-sm-2 pt-0 .mr-3">Status</legend>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="author_status" id="gridRadios1" value="on"
                        checked>
                    <label class="form-check-label" for="gridRadios1">
                        On
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="author_status" id="gridRadios2" value="off">
                    <label class="form-check-label" for="gridRadios2">
                        Off
                    </label>
                </div>
            </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Editar</button>
        </form>

    </main>